/*
Theme Name: Travel Lite Child
Theme URI: info@IFTS.com
Description: Tema Child per tema Travel Lite
Author: Filippo menghi
Author URI: http://FilippoMenghi.com/about/
Template: travel-lite
Version: 0.1.0
*/

h2.post-title > a{
font-family: 'Limelight', cursive;
}

.parchi{
	border: 10px solid #babcbc; 
	border-radius:10px;
	padding:5px;">
}

.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}