
/* =Responsive Travel
-------------------------------------------------------------- */
@media screen and (max-width: 800px) {

body, .featured-boxs img, img.fcon-image, #footer, #header, #footer-sidebar .widget, .conwidth  { max-width: 100%; min-width: 0; height: auto; width: 100%; }
#container, #footer-sidebar, #header-content, #top-menu-container, .featured-contents #right-sidebar .widget, .featured-contents .post, .featured-contents .hentry, .featured-contents .no-results, #creditline, #content-full  { max-width: 95%; min-width: 0; height: auto; padding: 2%; }
.featured-boxs { width: 104%; margin: -2% -2% 2%; }
.featured-contents { width: 104%; margin: -2% -2% 2%; }
img.site-logo, h1.site-title { width: 30%; }
.featured-contents #right-sidebar, #right-sidebar { width: 30%; float: right; }
#right-sidebar .widget { width: auto; }
#travel-main-menu, .featured-contents #content, #content { max-width: 65%; }
.featured-boxs .featured-box { width: 28%; height: auto; }
.featured-contents .featured-content { width: 29%; height: auto; margin: 5px; }
#client, #container .thumb, #container .sticky .thumb { width: 100%; display: block; }
.simply-scroll { width: 95%; margin: 0 auto; }
#footer-sidebar #footer-widgets, #footer-sidebar #first-footer-widget { width: 20%; }
}


